<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.asnet.migam.repository.call.CompletionCallAnalysisDaoMapper">
	<resultMap id="rmapCompletionCallAnalysis" type="completionCallAnalysis">
		<result property="idx" column="idx" />
		<result property="job_id" column="job_id" />
		<result property="indicator_start_pos" column="indicator_start_pos" />
		<result property="indicator_end_pos" column="indicator_end_pos" />
		<result property="indicator_result" column="indicator_result" />
		<result property="indicator_name" column="indicator_name" />
		<result property="indicator_kor_name" column="indicator_kor_name" />
	</resultMap>

	<sql id="sql_paging">
		<if test="pageDTO != null">
			<![CDATA[
			limit #{pageDTO.startRow}, #{pageDTO.itemPerPage}
			]]>
		</if>
	</sql>



	<select id="selectCompletionCallAnalysisList" parameterType="hashmap" resultMap="rmapCompletionCallAnalysis">
		SELECT 
		a.idx as idx, b.job_id as job_id, b.indicator_start_pos  as indicator_start_pos,b.indicator_end_pos  AS indicator_end_pos, b.indicator_result as indicator_result
		, b.indicator_name  as indicator_name, b.indicator_kor_name as indicator_kor_name, b.call_party as call_party
		FROM  mecs5_analysis_result a LEFT OUTER JOIN mecs5_analysis_result_ind b ON a.job_id = b.job_id
		where
			a.idx = '${searchDTO.searchQuery}' 
<!-- commented the request from Cho E [24-JUL-2017]-->
<!-- 			and b.call_party = 1 -->
	</select> 
	
	

</mapper> 