<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.asnet.migam.repository.agent.HisLogDaoMapper">
	               
	<resultMap id="rmapHisLog" type="hisLog">
		<result property="change_date" column="change_date" />
		<result property="user_id" column="user_id" />
		<result property="user_name" column="user_name" />
		<result property="user_ip" column="user_ip" />
		<result property="menu" column="menu" />
		<result property="detail" column="detail" />

	</resultMap>
	
	<sql id="sql_hisLog">
		<![CDATA[
		select
			change_date,
			user_id,
			user_name,
			user_ip,
			menu,
			detail
		from 
			mecs5_change_history
		]]>
	</sql>
    
	<sql id="sql_paging">
		<if test="pageDTO != null">
			<![CDATA[
			limit #{pageDTO.startRow}, #{pageDTO.itemPerPage}
			]]>
		</if>
	</sql>

	<sql id="sql_search">
		<where>
            <if test="searchDTO != null">
            	<if test="searchDTO.searchId != null and searchDTO.searchId != ''">
	            	<![CDATA[
	                	and user_id ='${searchDTO.searchId}'
	            	]]>
            	</if>
            	<if test="searchDTO.startDate != null and searchDTO.startDate != '' ">
            		<![CDATA[
            			and change_date between #{searchDTO.startDate}
            			and #{searchDTO.endDate}
            		]]>
            	</if>
            	<if test="searchDTO.searchType!= null and searchDTO.searchType != ''">
	            	<![CDATA[
	                	and user_name like '%${searchDTO.searchType}%'
	            	]]>
            	</if>
            	<if test="searchDTO.searchIndex!= null and searchDTO.searchIndex != ''">
	            	<![CDATA[
	                	and user_ip like '%${searchDTO.searchIndex}%'
	            	]]>
            	</if>
            	<if test="searchDTO.searchGroup!= null and searchDTO.searchGroup != ''">
	            	<![CDATA[
	                	and menu like '%${searchDTO.searchGroup}%'
	            	]]>
            	</if>
            	<if test="searchDTO.searchQuery!= null and searchDTO.searchQuery != ''">
	            	<![CDATA[
	                	and detail like '%${searchDTO.searchQuery}%'
	            	]]>
            	</if>
			</if>
		</where>
	</sql>

	<select id="selectHisLogList" parameterType="hashmap" resultMap="rmapHisLog">
		<include refid="sql_hisLog" />
		<include refid="sql_search" />
		<![CDATA[${orderby}]]>
		<include refid="sql_paging" />
	</select> 
	
	<select id="selectHisLogNameList" parameterType="hashmap" resultMap="rmapHisLog">
		SELECT DISTINCT(user_id) FROM mecs5_change_history WHERE 1=1 ORDER BY user_id ASC
	</select> 

	<select id="selectCount" parameterType="hashmap" resultType="int">
		<![CDATA[select count(*) from (]]>
		<include refid="sql_hisLog" />
		<include refid="sql_search" />
		<![CDATA[) cnt]]>
	</select>
	
	<insert id="insertHis" parameterType="hisLog">
		<![CDATA[
		insert into mecs5_change_history (
			change_date,
			user_id,
			user_name,
			user_ip,
			menu,
			detail
		) values (
			now,
			#{user_id},
			#{user_name},
			#{user_ip},
			#{menu},
			#{detail}
		)
		]]>
	</insert>

</mapper> 